<div class="flex-container">
    <div class="image-container flex-box" hx-get="pages/projects/case-study.html" hx-target="#content">
        <img class="container-image" src="images/CaseStudy/thumbnail.webp" alt="UX Case Study">
        <div class="image-text">Case Study</div>
    </div>
    <div class="image-container flex-box" hx-get="pages/projects/52pickup.html" hx-target="#content">
        <img class="container-image" src="images/52pickup/thumbnail.png" alt="52 Pickup">
        <div class="image-text">52 Pickup</div>
    </div>
    <div class="image-container flex-box" hx-get="pages/projects/sparkle-on.html" hx-target="#content">
        <img class="container-image" src="images/sparkle-on/thumbnail.png" alt="Sparkle-on">
        <div class="image-text">Sparkle-on</div>
    </div>
    <!-- Add more portfolio items as needed -->
</div>